.Slide {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    top: calc(50% - 1.75rem);
    left: -1.75rem;
    transform-origin: calc(50% + 16.5625rem);
    cursor: pointer;
    z-index: 1;

    transition: transform 1s ease-in-out;

    &:hover {
        .SlideButton {
            transform: scale(1);
            background: #F4F5F9;
        }
    }

    &.Active {
        cursor: unset;

        .SlideButton {
            transform: scale(1);
            background: #F4F5F9;
            cursor: unset;
        }
    }
}

.SlideButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid rgba(48, 62, 88, 0.5);
    background: #42567A;
    cursor: pointer;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    transform: scale(0.1);

    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.SlideNumber {
    transition: transform 1s ease-in-out;
}
